:root{
    --primario:#ff972d;
    --primarioOscuro:#e87500;
    --secundario:#11bad5;
    --blanco:#ffffff;
    --negro:#212121;

    --fuente-principal:'Montserrat', sans-serif;
}

/*Globales*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: var(--fuente-principal);
    margin: 0 auto;
}
img{
   max-width: 100%;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/*utilidades*/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
     text-align: center;
}

/*Header*/
.header{
    background-image: url(../img/banner_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60rem;
    padding-top: 0;
}
.logo__img{
    margin-bottom: 1rem;
    height:15rem;
    width: 20rem;
    margin-left: 8rem;
    margin-top: 8rem;
}
.header__texto{
    padding-top: 30rem;
    text-transform: uppercase;
    color:#ecb51d;
    font-weight: normal;
}

/*Navegacion*/

.barra{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    width: 100%;
    height: 12rem;
}
.navegacion__enlace{
    text-decoration: none;
    color: var(--secundario);
    font-size: 1.6rem;
    padding: 2rem 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-right: 3rem;
}
.navegacion__enlaces{
    margin-right: 4rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
color: var(--primario);
}
.drawer {
    display: none;
}
#ckbox {
    display: none;
}

@media (max-width: 950px) {
    .logo__img{
        margin-bottom: 1rem;
        height:13rem;
        width: 18rem;
        margin-left: 8rem;
        margin-top: 1rem;
    }

    .barra{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 15rem;
        position: fixed;
        top: 0;
    }
    .navegacion__enlaces{
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: var(--negro);
        top: 19vh;
        left:-100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        margin-right: none;
    }
    .navegacion__enlace{
        padding-top: 3rem;
        font-size: 1.7rem;
    }
    .drawer {
        font-size: 3rem;
        color: var(--blanco);
        float: left;
        cursor: pointer;
        display: block;
        margin-left: 1rem;
        border: solid 1.5px var(--blanco);
        padding: .2rem;
        border-radius: .1rem;
    }
    #ckbox:checked  ~ .navegacion__enlaces{
        left:0;
}
}/*media*/



